.header {
    background-color: #fdb913;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo,
.navLink{
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    transition: color .3s;
}

.navLink.active {
    color : #fff;
}

.navList {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

.searchBar {
    background-color: #ffe084;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 300px;
    font-style: italic;
}